/* Color codes:
  Primary: #BB86FC
    Dark primary: #1F1B24
    Primary Variant: #3700B3
  Secondary: #03DAC6
  Dark grey (surface): #121212
  On primary, seconday and error: white (#000000)
  On background and surface: black (#FFFFFF)
  Error color: #CF6679
 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #121212; */
  background-color: #1F1B24;
  color: white;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-container{
  display: flex;
  justify-content: center;
  /* background-color: #1F1B24; */
  background-color: #121212;
  width: 100%;
}
 
.header-container < h1 {
  width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  color: white;

}

.tabs {
  flex: 0 0 60%;

}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  display: flex;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  border-right: 1px solid #ccc;
  padding: 0.5rem 0.75rem;
  flex:auto;
  justify-content: space-around;
  cursor: pointer;
}


.tab-list-active {
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  background-color: #121212;
  cursor: auto;
}

.tab-content {
  justify-content: center;
}

.tabs {
  margin: 10px auto;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-container {
  background-color: #121212;
}

svg {
  /* background-color: #121212; */
}

.category-container {
  margin: 10px auto;
  margin-right: 5px;
}

.media-list {
  list-style-type: none;
  padding: 0;
}

.media-categories {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  flex-direction: column;
  align-items: flex-start;

}
/* Styling for radio buttons: */
