/* Color codes:
  Primary: #BB86FC
    Dark primary: #1F1B24
    Primary Variant: #3700B3
  Secondary: #03DAC6
  Dark grey (surface): #121212
  On primary, seconday and error: white (#000000)
  On background and surface: black (#FFFFFF)
  Error color: #CF6679
 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #121212; */
  background-color: #1F1B24;
  color: white;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-container{
  display: flex;
  justify-content: center;
  /* background-color: #1F1B24; */
  background-color: #121212;
  width: 100%;
}

.header-container < h1 {
  width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  color: white;

}

.tabs {
  flex: 0 0 60%;

}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  display: flex;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  border-right: 1px solid #ccc;
  padding: 0.5rem 0.75rem;
  flex:auto;
  justify-content: space-around;
  cursor: pointer;
}


.tab-list-active {
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  background-color: #121212;
  cursor: auto;
}

.tab-content {
  justify-content: center;
}

.tabs {
  margin: 10px auto;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-container {
  background-color: #121212;
}

svg {
  /* background-color: #121212; */
}

.category-container {
  margin: 10px auto;
  margin-right: 5px;
}

.media-list {
  list-style-type: none;
  padding: 0;
}

.media-categories {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  flex-direction: column;
  align-items: flex-start;

}
/* Styling for checkboxes: */
/* Source: https://appitventures.com/blog/styling-checkbox-css-tips/ */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/* CSS Radio button styling */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

.containerOuter {
  background: white;
  border-radius: 8px;
  box-shadow: 2px 6px 20px 2px rgba(10,10,120,0.15);
}
.container {
  position: relative;
  margin: 20px;
  overflow: hidden;
  width: 160px;
}
.hidden {
  display: none;
}
.entry {
  height: 25px;
  position: absolute;
  width: 160px;
}
.entry:nth-child(2) {
  left: 8px;
  top: 8px;
}
.entry:nth-child(4) {
  left: 8px;
  top: 58px;
}
.entry:nth-child(6) {
  left: 8px;
  top: 108px;
}
.circle {
  border: 2px solid #545556;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  transition: border-color 300ms;
  width: 20px;
}
.entry-label {
  cursor: pointer;
  margin-top: -3px;
  padding-left: 40px;
  user-select: none;
  -moz-user-select: none;
}
.overlay {
  background: #fff;
  mask: url(#holes);
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAACMCAYAAAAOc+uVAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAItSURBVHic7ZnNjhJBFIVPA0txr0Iyw+tIdOXWaDRufZWZeYbZuMKOUV9Gg+HHGN/BHBcNcSBT1KVOEVycb0mq635UVd9U5zQkif+Y3rkFclhQxYIqFlQZiM8vALQAPgP4AWC1+X0E4ALAFMBzAOPiCixjRfIdyX5g/h7JFyTnJYVKBGckHxQsxJBke2rBK5LF55bdal6fSnCmyO1JhlcyKrhkwbYekBySXNcUfF1L7o7k20jhhsxetxYAJk3T/Kks2EfXmkaHxkXO1MfacgCwmbPNjYsIftV1knzJDYgIfqsgkuJ7bkBE8FcFkRTr3IBzXxay9SOCjyuIFM8dEZxUECmeOyL4tIJIimluQKRRLwFcnqBRDwDMUaFRjwG8quC0zxtk5ACEL6wrksNaZiQfkvwZKRxtM08AfGDgBh2Q6wG4BfAo+sAxXB/xp+6VI3lzTMGSK3/Lgu1mt62fji1W+tH0m+R7dm9iZNVeMnjm9om0mUOs8O+zc47dz84Juh76DJG3NYEqeHLOfVnIYkEVC6pYUMWCKhZUsaCKBVUsqGJBFQuqWFDFgipO3OnEfRcn7qWCTtxTOHFP4cS9Ek7cVZy4qzhxL4ZO3AXoxF2QoxP3DifuW5y4q1hQxYIqFlSxoIoFVSyoYkEVC6pYUMWCKhZUsaCKE3c6cd/FiXupoBP3FE7cUzhxr4QTdxUn7ipO3IuhE3cBOnEX5OjEvcOJ+xYn7ioWVLGgigVV/gKEL4RSyM8Z8wAAAABJRU5ErkJggg==);
  height: 140px;
  pointer-events: none;
  transition: background 300ms;
  width: 40px;
}
.highlight {
  background: #4D98EF;
  border-radius: 50%;
  height: 12px;
  left: 14px;
  pointer-events: none;
  position: absolute;
  top: 14px;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
  transform: translateY(-50px);
  width: 12px;
}
.hidden:nth-child(1):checked ~ .highlight {
  transform: translateY(0);
}
.hidden:nth-child(3):checked ~ .highlight {
  transform: translateY(50px);
}
.hidden:nth-child(5):checked ~ .highlight {
  transform: translateY(100px);
}
.hidden:nth-child(1):checked + .entry .circle {
  border-color: #4D98EF;
}
.hidden:nth-child(3):checked + .entry .circle {
  border-color: #4D98EF;
}
.hidden:nth-child(5):checked + .entry .circle {
  border-color: #4D98EF;
}
.check:checked ~ .containerOuter .overlay {
  background: #ecf0f4;
}
